body {
    margin: auto 0;
    font-family: 'Roboto', sans-serif;
    background-color: #edf2f8;
    color: #3c3e44;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2, p, h3 {
    margin: 0;
}

.post {
    display: grid;
    grid-template: 300px / 300px 500px;
    grid-template-areas: "left rigth";
    background-color: white;
}

.left figure {
    margin: 0;
}

.left figure img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.rigth {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rigth .description-title, .rigth .description-text, .rigth .informationFromAuthorPost {
    width: 400px;
}

.rigth .description-title {
    padding-top: 30px;
    height: fit-content;
}

.rigth .description-title h1 {
    font-size: 23px;
}

.rigth .description-text {
    padding-bottom: 20px;
}

.rigth .description-text p {
    font-size: 15px;
    color: #3c3e44a3;
    line-height: 1.3;
}


.rigth .informationFromAuthorPost .information-photo {
    display: inline-block;
    position: absolute;
}

.rigth .informationFromAuthorPost .information-photo img {
    width: 50px;
    border-radius: 50%;
}

.rigth .informationFromAuthorPost .information-name {
    display: inline-block;
    font-size: 10px;
    position: relative;
    left: 70px;
    top: 5px;
}

.rigth .informationFromAuthorPost .information-data {
    display: inline-block;
    font-size: 10px;
    color: #3c3e44a3;
    position: relative;
    left: -55px;
    top: 25px;
}

.rigth .informationFromAuthorPost .share {
    display: inline-block;
    border-radius: 50%;
    background-color: #6e80985e;
    width: 20px;
    height: 20px;
    
}

