body {
    margin: auto 0;
    font-family: 'Roboto', sans-serif;
    background-color: #edf2f8;
    color: #3c3e44;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2, p, h3 {
    margin: 0;
}

.post {
    display: grid;
    grid-template: 300px / 300px 500px;
    grid-template-areas: "left rigth";
    background-color: white;
}

.left figure {
    margin: 0;
}

.left figure img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.rigth {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.rigth .description-title, .rigth .description-text, .rigth .informationFromAuthorPost {
    width: 400px;
}

.rigth .description-title, .rigth .description-text {
    height: fit-content;
}

.rigth .description-title h1 {
    font-size: 23px;
    line-height: 1.4;
}

.rigth .description-text p {
    font-size: 15px;
    color: #3c3e44a3;
    line-height: 1.4;
}


.rigth .informationFromAuthorPost .information-photo {
    display: inline-block;
    position: absolute;
}

.rigth .informationFromAuthorPost .information-photo img {
    width: 50px;
    border-radius: 50%;
}

.rigth .informationFromAuthorPost .information-name {
    display: inline-block;
    font-size: 10px;
    position: relative;
    left: 70px;
    top: 5px;
}

.rigth .informationFromAuthorPost .information-data {
    display: inline-block;
    font-size: 10px;
    color: #3c3e44a3;
    position: relative;
    left: -55px;
    top: 25px;
}

.rigth .informationFromAuthorPost .share {
    display: inline-block;
    border-radius: 50%;
    position: relative;
    left: 175px;
    top: 15px;
}

.rigth .informationFromAuthorPost .share a{
    background-color: #6e80985e;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 0;
}

.rigth .informationFromAuthorPost .socialMedia {
    width: 210px;
    font-size: 12px;
    background-color: #48576b;
    border-radius: 10px;
    position: relative;
    right: -276px;
    bottom: 80px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 7px 4px #0000002b;
}

.rigth .informationFromAuthorPost .socialMedia p {
    display: inline-block;
    color: #748096;
    letter-spacing: 3px;
    margin: 0 5px;
    font-weight: 600;
}

.rigth .informationFromAuthorPost .socialMedia a {
    margin: 0 5px;
} 

.rigth .informationFromAuthorPost .socialMedia .box {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 16px solid #48576b;
    position: relative;
    top: 28px;
    right: 91px;
    box-shadow: 0px 5px 7px 4px #0000002b;
}